<<<<<<< HEAD
login-panel {
	display: block;
	text-align: center;
}
img { position: relative; display: block; margin: 3vh; border: none; padding: 0px; }
.error {
	color: darkred;
	font-weight: bold;
}
body {
	margin: 0px;
	padding: 0px;
}

#add_adver_bg {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #000000;
	position: fixed;
	z-index: -99999;
}

#add_adver_img {
	position: relative;
	height: 10vh;
 	margin-left: auto; 
 	margin-right: auto;
 	margin-top: 1vh;
 	margin-bottom: 0;
 	top: 1vh;
	
}
#add_adver_panel {
	text-align: center;
	width: 30vw;
	height: 60vh;
	background: white;
	z-index: 0;
	margin: auto;
	margin-top: 11vh;
}

#mail{
	border: none;
	margin: 2%;
	position: relative ;
	text-align: center;
}
#name{
	border: none;
	margin: 2%;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}
#surname {
	border: none;
	margin: 2%;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}
#pass{
	border: none;
	margin: 2%;
	text-align: center;
=======
login-panel {
	display: block;
	text-align: center;
}
img { position: relative; display: block; margin: 3vh; border: none; padding: 0px; }
.error {
	color: darkred;
	font-weight: bold;
}
body {
	margin: 0px;
	padding: 0px;
}

#add_adver_bg {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #000000;
	position: fixed;
	z-index: -99999;
}

#add_adver_img {
	position: relative;
	height: 10vh;
 	margin-left: auto; 
 	margin-right: auto;
 	margin-top: 1vh;
 	margin-bottom: 0;
 	top: 1vh;
	
}
#add_adver_panel {
	text-align: center;
	width: 30vw;
	height: 60vh;
	background: white;
	z-index: 0;
	margin: auto;
	margin-top: 11vh;
}

#mail{
	border: none;
	margin: 2%;
	position: relative ;
	text-align: center;
}
#name{
	border: none;
	margin: 2%;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}
#surname {
	border: none;
	margin: 2%;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}
#pass{
	border: none;
	margin: 2%;
	text-align: center;
>>>>>>> origin/main
}