.header-panel {
  width: 100%;
  height: 10%;
  background: rgba(255,255,255,1);
  overflow: fixed;
  z-index: 2;
  position: fixed;
}
.container {
    position: fixed;
    display: inline-block;
    top: 30px;
    left: 30px;
}
.bar_icon {
    width: 35px;
    height: 5px;
    background-color: rgba(104,141,251,1);
    margin: 6px 0;
}
.Sliding_Panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 11.1%;
    left: 0;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    transition: 0.5s;
}
#Enter_Button{
    position: absolute;
    height: 50%;
    width: 8%;
    right: 10%;
    top: 25%;
    bottom: 25%;
    appearance: none;
    border: 0;
    border-radius: 7px;
    background: rgba(104,141,251,1);
    color: #fff;
    font-size: 80%;
    font-family: 'Verdana';
    font-style: normal;
}

#Register_Button{
    position: absolute;
    height: 50%;
    width: 10%;
    right: 20%;
    top: 25%;
    bottom: 25%;
    appearance: none;
    border: 0;
    border-radius: 7px;
    background: rgba(104,141,251,1);
    color: #fff;
    font-size: 80%;
    font-family: 'Verdana';
    font-style: normal;

}

#To_Add_Adver_Button{
    overflow: hidden;
    margin: 5%;
    position: absolute;
    height: 5%;
    width: 80%;
    right: 5%;
    top: 5%;
    bottom: 2%;
    appearance: none;
    border: 0;
    border-radius: 7px;
    background: rgba(104,141,251,1);
    color: #fff;
    font-size: 80%;
    font-family: 'Verdana';
    font-style: normal;
    white-space: nowrap;
}

#main_page_logo{
    margin-top: 0%;
    margin-bottom: 0%;
    width: 15%;
    height: 100%;
}
