.background_site{
  background-color: rgba(104,141,251,1);
  width: 100%;
  height: 100vh;
}
.block_advers{
  background-color: lightsteelblue;
  width: 60%;
  height: 80%;
  position: relative;
  top: 15%;
  left: 20%;
  right: 15%;
  overflow-y: scroll;
} 
.one_advers{
  position: relative;
  background-color: azure;
  left: 5%;
  right: 5%;
  top: 1%;
  width: 90%;
  height: 90%;
  bottom: 1%;
  margin: 6px 0;
}
.block_text_advers{ 
  background-color: burlywood;  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.h2_advers{
  
}
.p_advers{

}
.add_adver_panel {
	text-align: center;
	width: 30vw;
	height: 60vh;
	background: white;
	z-index: 0;
	margin: auto;
}