<!-- <!DOCTYPE html>
<html>
<head>
	<title>Добавить объявление</title>
	<link rel="stylesheet" href="../../main.css">
	<link rel="stylesheet" href="../../engine/styles/main_page.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../engine/js/main.js"></script>
	<meta charset="utf-8">
</head>
<body>
    <div class="background_site">
        <div class="add_adver_panel">
        <p>Загрузите картинку</p>
        <p><input type="file" name="f"><br>
        <input type="text" id="head_adver" required minlength="10" maxlength="64" placeholder="Введите заголовок"><br>
        <input type="text" id="text__adver" required minlength="12" maxlength="10000" placeholder="Введите текст объявления"> <br> 
        <input type="submit" value="Отправить"></p>
    </div>    
</div>
<footer>
  
</footer>

</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
	<title>Вход</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../styles/add_adver.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../engine/js/login.js"></script>
</head>
<body>
	<div id="add_adver_container">
		<div id="add_adver_page">
			<div id="add_adver_bg"> </div>
			<div id="add_adver_panel">
                <div class="add_adver_panel">
                        <p>Загрузите картинку</p>
                        <p><input type="file" name="f"><br>
                        <input type="text" id="head_adver" required minlength="10" maxlength="64" placeholder="Введите заголовок"><br>
                        <input type="text" id="text__adver" required minlength="12" maxlength="10000" placeholder="Введите текст объявления"> <br> 
                        <input type="submit" value="Отправить"></p>
  		</div>
		<div class="error"></div>
	</div> </div>
		</div>
	</div>
</body>
</html>