<!DOCTYPE html>
<html>
<head>
	<title>ДомТим</title>
	<link rel="stylesheet" href="../../main.css">
	<link rel="stylesheet" href="../../engine/styles/header_main_page.css">
	<link rel="stylesheet" href="../../engine/styles/main_page.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../engine/js/Sliding_Panel.js"></script>
	<script type="text/javascript" src="../../engine/js/advers.js"></script>
	<script type="text/javascript" src="../../engine/js/main.js"></script>
	<meta charset="utf-8">
</head>
<body> <header> <div class="header-panel">
  	<div class="container" onclick="Sliding_Panel()">
  		<div class="bar_icon"></div>
  		<div class="bar_icon"></div>
  		<div class="bar_icon"></div>
  		<div id="Sliding_Panel" class="Sliding_Panel">
  		</div>
  	</div>
  	<button id="Enter_Button" onclick="navigateTo()">Войти</button>
  </div>
  
</header>

<div class="background_site">
	<div id = "block_advers" class = "block_advers">
		
		<!-- <div class="scroll"></div>
		<div class = "one_advers"> 
			<div class="block_text_advers" onclick="open_Adver()">
				<h2 class="h2_advers"></h2>
				<p class="p_advers"></p>
			</div>
		</div>
		<div class = "one_advers"> 
	<div class="block_text_advers" onclick="open_Adver()">
		<h2 class="h2_advers"></h2>
		<p class="p_advers"></p>
	</div>
</div>
<div class = "one_advers"> 
	<div class="block_text_advers" onclick="open_Adver()">
		<h2 class="h2_advers"></h2>
		<p class="p_advers"></p>
	</div>
</div>
<div class = "one_advers"> 
	<div class="block_text_advers" onclick="open_Adver()">
		<h2 class="h2_advers"></h2>
		<p class="p_advers"></p>
	</div>
</div> -->

	</div>
</div>

<footer>
  
</footer>

</body>
</html>